.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.937012;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.937012;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.939941;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.939941;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{width:1.360000px;}
._3{width:3.400000px;}
._5{width:4.520000px;}
._4{width:6.000000px;}
._1{width:7.520000px;}
._6{width:11.160000px;}
._0{width:12.816000px;}
._7{width:14.480000px;}
._8{width:16.440000px;}
._9{width:17.680000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs3{font-size:40.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:64.000000px;}
.fs1{font-size:80.000000px;}
.y6{bottom:3.587999px;}
.y4{bottom:3.596000px;}
.y2{bottom:13.012999px;}
.y3{bottom:110.057018px;}
.y0{bottom:111.000000px;}
.y5{bottom:112.399031px;}
.y25{bottom:213.816021px;}
.y24{bottom:228.574022px;}
.y23{bottom:243.332023px;}
.y22{bottom:258.090018px;}
.y21{bottom:287.606029px;}
.y20{bottom:302.364031px;}
.y3f{bottom:302.365032px;}
.y1f{bottom:317.122031px;}
.y3e{bottom:317.123028px;}
.y1e{bottom:331.880027px;}
.y3d{bottom:331.881029px;}
.y3c{bottom:346.639029px;}
.y1d{bottom:361.396038px;}
.y3b{bottom:361.397025px;}
.y1c{bottom:376.154039px;}
.y1b{bottom:390.912040px;}
.y3a{bottom:390.913016px;}
.y1a{bottom:405.670035px;}
.y39{bottom:405.671038px;}
.y38{bottom:420.429038px;}
.y19{bottom:435.186016px;}
.y37{bottom:435.187034px;}
.y18{bottom:449.944012px;}
.y36{bottom:449.945024px;}
.y17{bottom:464.702013px;}
.y35{bottom:464.703025px;}
.y16{bottom:479.460013px;}
.y34{bottom:479.461020px;}
.y15{bottom:494.218039px;}
.y33{bottom:508.977016px;}
.y14{bottom:523.734026px;}
.y32{bottom:523.735018px;}
.y13{bottom:538.492026px;}
.y31{bottom:538.493018px;}
.y12{bottom:553.250022px;}
.y30{bottom:568.009025px;}
.y11{bottom:582.766028px;}
.y2f{bottom:582.767020px;}
.y10{bottom:597.524019px;}
.y2e{bottom:597.525031px;}
.yf{bottom:612.282020px;}
.y2d{bottom:612.283022px;}
.ye{bottom:627.040023px;}
.y2c{bottom:627.041022px;}
.y2b{bottom:641.799023px;}
.yd{bottom:656.556026px;}
.y2a{bottom:656.557024px;}
.yc{bottom:671.314022px;}
.y29{bottom:671.315024px;}
.yb{bottom:686.072023px;}
.y28{bottom:686.073023px;}
.ya{bottom:700.830024px;}
.y27{bottom:700.831023px;}
.y9{bottom:725.925026px;}
.y26{bottom:731.829025px;}
.y8{bottom:737.732025px;}
.y7{bottom:749.539024px;}
.y1{bottom:773.100025px;}
.h6{height:13.007000px;}
.h4{height:14.799000px;}
.h8{height:29.394531px;}
.h2{height:32.799999px;}
.h7{height:35.273438px;}
.h3{height:47.031250px;}
.h5{height:58.789062px;}
.h1{height:695.000000px;}
.h0{height:841.900024px;}
.w4{width:16.743000px;}
.w2{width:406.549988px;}
.w1{width:467.000000px;}
.w3{width:468.649994px;}
.w0{width:595.299988px;}
.x3{left:-46.685998px;}
.x5{left:0.400000px;}
.x0{left:44.000000px;}
.x19{left:47.387991px;}
.x1e{left:51.116991px;}
.x21{left:61.630991px;}
.x18{left:68.746990px;}
.x17{left:89.316990px;}
.x1d{left:100.632992px;}
.x2{left:102.806998px;}
.x1{left:105.299997px;}
.x1c{left:129.416992px;}
.x20{left:161.775993px;}
.x22{left:163.167992px;}
.x1f{left:181.146988px;}
.x1a{left:190.003998px;}
.x1b{left:206.331985px;}
.x4{left:269.153009px;}
.x6{left:279.124994px;}
.x8{left:281.779994px;}
.xc{left:296.044994px;}
.xe{left:338.075993px;}
.x16{left:355.856995px;}
.x11{left:361.294991px;}
.x7{left:376.286995px;}
.xd{left:398.652992px;}
.x12{left:411.673996px;}
.xf{left:426.045990px;}
.x14{left:440.444000px;}
.x13{left:446.241989px;}
.x10{left:464.526001px;}
.xa{left:466.435989px;}
.xb{left:471.712997px;}
.x15{left:477.222992px;}
.x9{left:485.806992px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{width:1.813333pt;}
._3{width:4.533333pt;}
._5{width:6.026667pt;}
._4{width:8.000000pt;}
._1{width:10.026667pt;}
._6{width:14.880000pt;}
._0{width:17.088000pt;}
._7{width:19.306667pt;}
._8{width:21.920000pt;}
._9{width:23.573333pt;}
.fs3{font-size:53.333333pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:85.333333pt;}
.fs1{font-size:106.666667pt;}
.y6{bottom:4.783999pt;}
.y4{bottom:4.794666pt;}
.y2{bottom:17.350665pt;}
.y3{bottom:146.742691pt;}
.y0{bottom:148.000000pt;}
.y5{bottom:149.865374pt;}
.y25{bottom:285.088028pt;}
.y24{bottom:304.765363pt;}
.y23{bottom:324.442697pt;}
.y22{bottom:344.120024pt;}
.y21{bottom:383.474706pt;}
.y20{bottom:403.152041pt;}
.y3f{bottom:403.153376pt;}
.y1f{bottom:422.829375pt;}
.y3e{bottom:422.830704pt;}
.y1e{bottom:442.506702pt;}
.y3d{bottom:442.508039pt;}
.y3c{bottom:462.185373pt;}
.y1d{bottom:481.861384pt;}
.y3b{bottom:481.862700pt;}
.y1c{bottom:501.538719pt;}
.y1b{bottom:521.216053pt;}
.y3a{bottom:521.217355pt;}
.y1a{bottom:540.893380pt;}
.y39{bottom:540.894717pt;}
.y38{bottom:560.572051pt;}
.y19{bottom:580.248021pt;}
.y37{bottom:580.249378pt;}
.y18{bottom:599.925349pt;}
.y36{bottom:599.926699pt;}
.y17{bottom:619.602684pt;}
.y35{bottom:619.604033pt;}
.y16{bottom:639.280018pt;}
.y34{bottom:639.281361pt;}
.y15{bottom:658.957386pt;}
.y33{bottom:678.636022pt;}
.y14{bottom:698.312035pt;}
.y32{bottom:698.313357pt;}
.y13{bottom:717.989368pt;}
.y31{bottom:717.990691pt;}
.y12{bottom:737.666696pt;}
.y30{bottom:757.345366pt;}
.y11{bottom:777.021371pt;}
.y2f{bottom:777.022694pt;}
.y10{bottom:796.698692pt;}
.y2e{bottom:796.700041pt;}
.yf{bottom:816.376026pt;}
.y2d{bottom:816.377363pt;}
.ye{bottom:836.053364pt;}
.y2c{bottom:836.054696pt;}
.y2b{bottom:855.732030pt;}
.yd{bottom:875.408035pt;}
.y2a{bottom:875.409365pt;}
.yc{bottom:895.085363pt;}
.y29{bottom:895.086699pt;}
.yb{bottom:914.762698pt;}
.y28{bottom:914.764030pt;}
.ya{bottom:934.440032pt;}
.y27{bottom:934.441364pt;}
.y9{bottom:967.900035pt;}
.y26{bottom:975.772034pt;}
.y8{bottom:983.642700pt;}
.y7{bottom:999.385366pt;}
.y1{bottom:1030.800034pt;}
.h6{height:17.342666pt;}
.h4{height:19.732000pt;}
.h8{height:39.192708pt;}
.h2{height:43.733332pt;}
.h7{height:47.031250pt;}
.h3{height:62.708333pt;}
.h5{height:78.385417pt;}
.h1{height:926.666667pt;}
.h0{height:1122.533366pt;}
.w4{width:22.324001pt;}
.w2{width:542.066650pt;}
.w1{width:622.666667pt;}
.w3{width:624.866659pt;}
.w0{width:793.733317pt;}
.x3{left:-62.247998pt;}
.x5{left:0.533333pt;}
.x0{left:58.666667pt;}
.x19{left:63.183988pt;}
.x1e{left:68.155988pt;}
.x21{left:82.174655pt;}
.x18{left:91.662654pt;}
.x17{left:119.089320pt;}
.x1d{left:134.177322pt;}
.x2{left:137.075997pt;}
.x1{left:140.399996pt;}
.x1c{left:172.555990pt;}
.x20{left:215.701324pt;}
.x22{left:217.557322pt;}
.x1f{left:241.529317pt;}
.x1a{left:253.338664pt;}
.x1b{left:275.109314pt;}
.x4{left:358.870679pt;}
.x6{left:372.166658pt;}
.x8{left:375.706659pt;}
.xc{left:394.726659pt;}
.xe{left:450.767990pt;}
.x16{left:474.475993pt;}
.x11{left:481.726654pt;}
.x7{left:501.715993pt;}
.xd{left:531.537323pt;}
.x12{left:548.898661pt;}
.xf{left:568.061320pt;}
.x14{left:587.258667pt;}
.x13{left:594.989319pt;}
.x10{left:619.368001pt;}
.xa{left:621.914653pt;}
.xb{left:628.950663pt;}
.x15{left:636.297323pt;}
.x9{left:647.742655pt;}
}
